<div class="container">
    <div class="card card-container">
        <img id="logo" class="logo-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <div>
            <form class="form-signin" (submit)="onLogin()">
                <span id="reauth-rut" class="reauth-rut"></span>
                <input [(ngModel)]="email" type="email" name="email" class="form-control" placeholder="Correo" autofocus (change)="onLogin()">
                <input [(ngModel)]="password" type="password" name="password" class="form-control" placeholder="Contraseña" (change)="onLogin()">
                <div id="remember" class="checkbox">
                    <label>
                    <input type="checkbox" value="remember-me"> Recordarme
                </label>
                </div>
                <div type="submit" class="btn btn-lg btn-primary btn-block btn-signin">Ingresar</div>
            </form>
            <!-- /form -->
            <div class="card-body d-flex justify-content-around">
                <button class="btn btn-google" (click)="onClickGoogleLogin()"><i class="fab fa-google-plus" aria-hidden="true"></i> Google</button>
            </div>
        </div>

    </div>
    <!-- /card-container -->
</div>
<!-- /container -->