@import 'src/assets/scss/base';
.sidebar-main {
  width: 241px;
  border-right: 1px solid rgba(0,0,0,.12);
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  // -webkit-transform: translate3d(-240px,0,0)
  // transform: translate3d(-240px,0,0)
  z-index: 1204;
  background: $gris_bajo;
  // -webkit-transition: all 280ms cubic-bezier(.4,0,.2,1)
  transition: all 280ms cubic-bezier(.4,0,.2,1);
}
.sidebar-logo {
  height: 130px;
  line-height: 48px;
  overflow: hidden;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}