<aside class="sidebar-main">
    <div class="scrollbar-inner">
      <div class="sidebar-main-header">
        <div class="sidebar-logo text-center">
          <a class="img-rivet">
            <img src='../../../../assets/img/digimon_logo.png' alt="" width="200" style="margin: 10px;">
          </a>
        </div>
      </div>
      <div class="menu-section mt20">
        <div class="d-flex" id="wrapper">
          <div class="bg-light border-right" id="sidebar-wrapper">

            <div class="list-group">
              <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-light">Ver Digimons</a>
              <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-light">Buscar Digimons</a>
              <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-light">Filtrar Digimons</a>
              <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-light">Salir</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </aside>